.chat-system {
    display: grid;
    grid-template-columns: 350px auto min-content;
    height: 100svh;
    transition: grid-template-columns 0.5s ease;
}

.chat-display {
    scrollbar-width: thin;
    scrollbar-color: white white;
}
.chat-settings {
    width: 0;
    overflow: hidden;
    transition: all .4s linear;
}

.active-settings {
    width: 250px;
}

.close-chat-settings {
    display: none;
}

@media screen and (max-width: 640px) {
    .chat-system {
        grid-template-columns: auto auto min-content;
    }

    .chat-settings {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;

        background: #fff;
    }

    .close-chat-settings {
        display: block;
    }
    
}
